*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Red Hat Display', sans-serif;
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat:repeat-x;
    background-color:  hsl(225, 100%, 94%);
}

body{
    width: 100%;
    height: 100%;
    
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4{
    color: hsl(223, 47%, 23%)

}

h2{
    font-size: 16px;
}

h1{
    padding-bottom: 16px;
}

button, a{
    font-weight: 700;
}

button{
    background: hsl(245, 75%, 52%);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 16px;
    width: 100%;
    margin-bottom: 32px;
    box-shadow:  0px 20px 20px #c1bcf7;
    font-weight: 900;
    font-size: 16px;
}

a{
    text-decoration: none;
}

a:hover{
    color:hsl(245, 83%, 68%)
}

button:hover{
    background-color:hsl(245, 83%, 68%) ;
}

.card{
    background-color: white;
    text-align: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:45%;
    box-shadow: 1px 16px 16px hsl(218 29% 85%);


}

.card-img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.card-title{
    font-weight: 900;

}


p, .cancel-link{
    color: hsl(224, 23%, 55%);
}

p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;

}



div.card-content{
    padding: 40px 32px;
}

.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;

}

p.card-desc{
    padding: 16px;
    margin-bottom: 8px;
}

.card-plan{
    background: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 32px;
    padding: 24px 0;
}

.card-plan-content{
    display: flex;
    align-items: center;
    gap: 16px;
}

.card-plan-link{
    color: hsl(245, 75%, 52%)
}

@media screen and (max-width: 475px) {

    .card{
        width:90%;
    }
    
    .card-plan{
        gap: 16px;
    }
}

@media screen and (min-width: 1240px) {

    .card{
        width: 30%
    }
    
}

@media screen and (min-width: 2560px) {

    .card{
        width: 16%
    }
    
}

.cancel-link:hover{
    color: hsl(223, 47%, 23%)
}